body{
    padding-bottom: 20px;
    color: #5a5a5a;
}


.navbar-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}


.navbar-wrapper > .container{
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar{
    padding-right: 20px;
    padding-left: 20px;
}


/*for adjusting in small things the conatiner takes space itself*/
.navbar-wrapper .navbar .container{
    width: auto;
}


.carousel{
    height: 500px;
    margin-bottom: 50px;
}

.carousel .item{
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img{
    position: absolute;
    height: 500px;
    min-width: 100% ;
    top: 0;
    left: 0;
}

.team .col-lg-4{
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

.team h2{
    color: rgba(50,50,50,0.8);
}

.team p{
    margin-left: 10px;
    margin-right: 10px;
}


.divider{
    margin: 40px 0;
}

.micky{
    
    padding-left: 50px;
    text-align: center;
    padding-top: 80px;
}

.content{
    margin-bottom: 30px;
}

footer{
    margin: 0 110px;
}